@{
    ViewBag.Title = "Panel del Cliente";
}

@if (TempData["MensajeExito"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MensajeExito"]
    </div>
}

<h2>Bienvenido al Panel del Cliente</h2>

